[submodule "lib/tpl/bootstrap3"]
	path = lib/tpl/bootstrap3
	url = https://github.com/LotarProject/dokuwiki-template-bootstrap3/
[submodule "lib/plugins/oauth"]
	path = lib/plugins/oauth
	url = https://github.com/cosmocode/dokuwiki-plugin-oauth/
[submodule "lib/plugins/discussion"]
	path = lib/plugins/discussion
	url = https://github.com/dokufreaks/plugin-discussion.git
[submodule "lib/plugins/templatepagename"]
	path = lib/plugins/templatepagename
	url = https://github.com/Klap-in/dokuwiki-plugin-templatepagename.git
