[submodule "lib/tpl/bootstrap3"]
	path = lib/tpl/bootstrap3
	url = https://github.com/LotarProject/dokuwiki-template-bootstrap3/
[submodule "lib/plugins/oauth"]
	path = lib/plugins/oauth
	url = https://github.com/cosmocode/dokuwiki-plugin-oauth/
[submodule "lib/plugins/discussion"]
	path = lib/plugins/discussion
	url = https://github.com/dokufreaks/plugin-discussion.git
[submodule "lib/plugins/templatepagename"]
	path = lib/plugins/templatepagename
	url = https://github.com/Klap-in/dokuwiki-plugin-templatepagename.git
[submodule "lib/plugins/gallery"]
	path = lib/plugins/gallery
	url = https://github.com/splitbrain/dokuwiki-plugin-gallery.git
[submodule "lib/plugins/upload"]
	path = lib/plugins/upload
	url = https://github.com/lupo49/dokuwiki-plugin-upload
[submodule "lib/plugins/advanced"]
	path = lib/plugins/advanced
	url = https://github.com/LotarProject/dokuwiki-plugin-advanced.git
[submodule "lib/plugins/pagelist"]
	path = lib/plugins/pagelist
	url = https://github.com/dokufreaks/plugin-pagelist
[submodule "lib/plugins/feed"]
	path = lib/plugins/feed
	url = https://github.com/dokufreaks/plugin-feed/
[submodule "lib/plugins/avatar"]
	path = lib/plugins/avatar
	url = https://github.com/dokufreaks/plugin-avatar
